.facebook__login {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

.facebook__name {
    margin: 0;
    padding: 0;
    width: 100px;
    padding-right: 15px;
    text-align: center;
    font-size: 16px;
}

.facebook__picture {
    border-radius: 50%;
    height: 46px;
    width: 46px;
    border: 2px solid black;
}

.facebook__picture:hover {
    opacity: 0.6;
}

.facebook__logout button {
    width: 100%;
    height: 150px;
}