.navigation {
    max-width: 1280px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 5px 5px;
}

.navigation__profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

.navigation__name {
    margin: 0;
    padding: 0;
    width: 100px;
    padding-right: 15px;
    text-align: center;
    font-size: 16px;
}

.navigation__picture {
    border-radius: 50%;
    height: 46px;
    width: 46px;
    border: 2px solid black;
}

.navigation__picture:hover {
    opacity: 0.6;
}
/*

*/