@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212024;
  font-family: 'Domine', serif;
}